<!DOCTYPE html>
<html>
    <head>
        <title>LostArk Auction Finder</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/angular-material.min.css">
    </style>
</head>

<body ng-app="MyApp" ng-controller="MyController" ng-cloak>
    <md-content layout="column" style="height: 100%; overflow: hidden;" layout-padding>
        <md-tabs flex>
            <md-tab label="캐릭터">
                <md-content class="md-padding" layout="column">
                    <div layout="column">
                        <div layout="row">
                            <md-input-container flex="40">
                                <label>캐릭터명</label>
                                <input type="text" ng-model="context.CharacterName" name="characterName" ng-keypress="characterName_keydown($event)">
                            </md-input-container>
                            <md-input-container flex="30">
                                <label>아이템 등급</label>
                                <md-select ng-model="context.Grade" >
                                    <md-option ng-repeat="x in loa.Const.Grades track by $index" ng-value="x">{{ x }}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container flex="30">
                                <label>아이템 품질</label>
                                <md-select ng-model="context.TargetQuality" >
                                    <md-option ng-repeat="x in loa.Const.Qualities track by $index" ng-value="x">{{ x }}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container flex="30">
                                <label>목걸이 품질</label>
                                <md-select ng-model="context.TargetQualityNeck" >
                                    <md-option ng-repeat="x in loa.Const.Qualities track by $index" ng-value="x">{{ x }}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <md-input-container flex>
                                <label>치명</label>
                                <input type="number" ng-model="context.TargetStats.Critical">
                            </md-input-container>
                            <md-input-container flex>
                                <label>가속</label>
                                <input type="number" ng-model="context.TargetStats.Haste">
                            </md-input-container>
                            <md-input-container flex>
                                <label>특화</label>
                                <input type="number" ng-model="context.TargetStats.Mastery">
                            </md-input-container>
                            <md-input-container flex="30">
                                <label>어빌리티 스톤 검색</label>
                                <md-select ng-model="context.SearchAbilityStone" >
                                    <md-option ng-repeat="x in [true, false] track by $index" ng-value="x">{{ (x?'거래소 검색':'내 돌만 재사용') }}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <md-input-container flex>
                                <label>CPU활용</label>
                                <md-select ng-model="context.ThreadCount" >
                                    <md-option ng-repeat="x in threadList track by $index" ng-value="x">{{ x }}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div>
                            <md-button class="md-raised md-secondary" ng-click="searchCharacter()">검색</md-button>
                        </div>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="습득 각인">
                <md-content class="md-padding" layout="column">
                    <div layout="row">
                        <md-autocomplete md-selected-item="selectedBuff" md-search-text="searchText"
                            md-items="item in filterEngrave(searchText)" md-item-text="item.name + ' ' + item.level"
                            md-selected-item-change="addEngrave(item)"
                            md-min-length="0" placeholder="각인명 입력" flex>
                        <md-item-template>
                            <span md-highlight-text="selectedBuff" md-highlight-flags="^i">{{item.name}} {{item.level}}</span>
                        </md-item-template>
                        </md-autocomplete>
                    </div>
                    <div layout="row">
                        <md-list flex>
                            <md-list-item class="md-1-line" ng-repeat="(name, level) in context.LearnedBuffs track by $index">
                                <span flex>{{name}}</span>
                                <span flex>{{level}}</span>
                                <md-button class="md-raised" ng-click="delEngrave(name)">삭제</md-button>
                            </md-list-item>
                        </md-list>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="목표 각인">
                <md-content class="md-padding" layout="column">
                    <div layout="row">
                        <md-autocomplete md-selected-item="selectedBuffT" md-search-text="searchTextT"
                            md-items="item in filterEngraveT(searchTextT)" md-item-text="item.name + ' ' + item.level"
                            md-selected-item-change="addEngraveT(item)"
                            md-min-length="0" placeholder="각인명 입력" flex>
                        <md-item-template>
                            <span md-highlight-text="selectedBuffT" md-highlight-flags="^i">{{item.name}} {{item.level}}</span>
                        </md-item-template>
                        </md-autocomplete>
                    </div>
                    <div layout="row">
                        <md-list flex>
                            <md-list-item class="md-1-line" ng-repeat="(name, level) in context.TargetBuffs track by $index">
                                <span flex>{{name}}</span>
                                <span flex>{{level}}</span>
                                <md-button class="md-raised" ng-click="delEngraveT(name)">삭제</md-button>
                            </md-list-item>
                        </md-list>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="검색">
                <md-content class="md-padding" layout="column" style="height: 100%; overflow: hidden;">
                    <div layout="row">
                        <md-progress-circular ng-if="searchRunning" md-mode="indeterminate"></md-progress-circular>
                        <md-button class="md-raised" ng-disabled="searchRunning" ng-click="start()" flex>Start</md-button>
                    </div>
                    <md-list flex style="overflow: auto">
                        <md-list-item class="md-1-line" layout="row">
                            <span flex>골드</span>
                            <span flex>페온</span>
                            <span flex>디버프</span>
                            <span flex>전투 특성</span>
                        </md-list-item>
                        <md-list-item class="md-1-line" ng-repeat="data in result track by $index" layout="row" ng-click="null">
                            <md-content flex layout="column">
                                <span layout="row" ng-click="data.toggle()">
                                    <span flex>{{ data.price }}</span>
                                    <span flex>{{ data.peon }}</span>
                                    <span flex>{{ data.debuffs }}</span>
                                    <span flex>{{ data.stats }}</span>
                                </span>
                                <span layout="row" flex ng-if="data.show">
                                    <md-list flex>
                                        <md-list-item class="md-1-line" layout="row">
                                            <span flex>골드</span>
                                            <span flex>아이템이름</span>
                                            <span flex ng-repeat="name in data.buffNames track by $index">{{ name }}</span>
                                            <span flex ng-repeat="name in data.statNames track by $index">{{ name }}</span>
                                            <span flex>-각인</span>
                                            <span flex>기타각인</span>
                                            <span flex>품질</span>
                                        </md-list-item>
                                        <md-list-item class="md-1-line" ng-repeat="item in data.items track by $index" layout="row">
                                            <span flex>{{ item.Price }}</span>
                                            <span flex>{{ item.Name }}</span>
                                            <span flex ng-repeat="buff in item.Buffs track by $index">{{ buff }}</span>
                                            <span flex ng-repeat="stat in item.Stats track by $index">{{ stat }}</span>
                                            <span flex>{{ item.DebuffDesc }}</span>
                                            <span flex>{{ item.EtcBuffs }}</span>
                                            <span flex>{{ item.Quality }}</span>
                                        </md-list-item>
                                    </md-list>
                                </span>
                            </md-content>
                        </md-list-item>
                    </md-list>
                </md-content>
            </md-tab>
            <md-tab label="로그">
                <md-content class="md-padding" layout="column" style="height: 100%; overflow: hidden;">
                    <md-list flex style="overflow: auto">
                        <md-list-item class="md-1-line" ng-repeat="data in logs track by $index" layout="row">
                            <md-content flex layout="column">
                                <span>
                                    {{ data }}
                                </span>
                            </md-content>
                        </md-list-item>
                    </md-list>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>

    <script src="/js/angular.min.js"></script>
	<script src="/js/angular-animate.min.js"></script>
	<script src="/js/angular-aria.min.js"></script>
	<script src="/js/angular-messages.min.js"></script>
	<script src="/js/angular-material.min.js"></script>

    <script>
        // https://material.angularjs.org/latest/demo/toast
        var app = angular.module('MyApp', ['ngMaterial']);
        app.controller('MyController', MyController);
        function MyController($scope, $http, $timeout, $mdToast, $mdDialog) {
            $scope.result = []
            $scope.loa = {
                'Const': {},
            }
            $scope.context = {
                "CharacterName": "",
                "LearnedBuffs": {},
                "SupposedStoneLevel": [6,6,3],
                "Grade": "유물",
                "AuctionItemCount": 10,
                "TargetBuffs": {},
                "TargetStats": ["특화","신속"],
                "TargetQuality": "80 이상",
                "OnlyFirstStat": true,
                "MaxDebuffLevel": 1,
                "ThreadCount": 0,
            }
            $scope.autocompleteBuffs = []
            $scope.autocompleteBuffsT = []
            $scope.searchRunning = false
            $scope.logs = []
            $scope.threadList = [0, 1, 2, 3, 4, 8]

            if (localStorage.getItem("context")) {
                $scope.context = JSON.parse(localStorage.getItem("context"))
            }

            $scope.addEngrave = function(item) {
                if (item.name !== undefined) {
                    $scope.context.LearnedBuffs[item.name] = item.level
                    localStorage.setItem("context", JSON.stringify($scope.context))
                    $timeout(function() {
                        $scope.searchText = ""
                    })
                }
            }

            $scope.delEngrave = function(name) {
                delete $scope.context.LearnedBuffs[name]
                localStorage.setItem("context", JSON.stringify($scope.context))
            }

            $scope.addEngraveT = function(item) {
                if (item.name !== undefined) {
                    $scope.context.TargetBuffs[item.name] = item.level
                    localStorage.setItem("context", JSON.stringify($scope.context))
                    $timeout(function() {
                        $scope.searchTextT = ""
                    })
                }
            }

            $scope.delEngraveT = function(name) {
                delete $scope.context.TargetBuffs[name]
                localStorage.setItem("context", JSON.stringify($scope.context))
            }

            $scope.filterEngrave = function(text) {
                if (text == "") {
                    return []
                }
                return $scope.autocompleteBuffs.filter(t => t.name.indexOf(text) >= 0)
            }

            $scope.filterEngraveT = function(text) {
                if (text == "") {
                    return []
                }
                return $scope.autocompleteBuffsT.filter(t => t.name.indexOf(text) >= 0)
            }

            function connectWS() {
                var wsURL = location.href.replace("http://", "ws://")
                if (!wsURL.endsWith("/")) {
                    wsURL += "/"
                }
                wsURL += "ws"
                var websocket = new WebSocket(wsURL)
                websocket.onopen = function () {
                    console.log('Connected')
                }
                websocket.onclose = function () {
                    console.log('Closed')
                }
                websocket.onmessage = function (e) {
                    var data = JSON.parse(e.data)
                    if (data.type == "log") {
                        console.log(data.data)
                        var toast = $mdToast.simple().textContent(data.data).hideDelay(3000)
                        $mdToast.show(toast)
                        $scope.logs.push(data.data)
                    } else if (data.type == "const") {
                        $scope.$apply(function() {
                            $scope.loa.Const = data.data
                            $scope.autocompleteBuffs = []
                            $scope.autocompleteBuffsT = []
                            $scope.loa.Const.Buffs.forEach(element => {
                                for (var i = 1; i <= 4; i++) {
                                    $scope.autocompleteBuffs.push({
                                        'name': element,
                                        'level': i * 3
                                    })
                                }
                                for (var i = 1; i <= 3; i++) {
                                    $scope.autocompleteBuffsT.push({
                                        'name': element,
                                        'level': i
                                    })
                                }
                            })
                            $scope.loa.Const.ClassBuffs.forEach(element => {
                                for (var i = 1; i <= 4; i++) {
                                    $scope.autocompleteBuffs.push({
                                        'name': element,
                                        'level': i * 3
                                    })
                                }
                                for (var i = 1; i <= 3; i++) {
                                    $scope.autocompleteBuffsT.push({
                                        'name': element,
                                        'level': i
                                    })
                                }
                            })
                        })
                    } else if (data.type == "context") {
                        $scope.$apply(function() {
                            $scope.context = data.data
                            localStorage.setItem("context", JSON.stringify($scope.context))
                        })
                    } else if (data.type == "character") {
                        $scope.$apply(function() {
                            $scope.character = data.data
                        })
                    } else if (data.type == "result") {
                        data.data.show = false
                        data.data.toggle = function() {
                            this.show = !this.show
                        }
                        data.data.statSum = data.data.stats.reduce(function(a, b) { return a + b })
                        foundSame = false
                        insertIndex = $scope.result.findIndex(function(elem) {
                            if (elem.statSum == data.data.statSum && elem.price == data.data.price && elem.peon == data.data.peon) {
                                foundSame = true
                            }
                            if (elem.peon < data.data.peon) {
                                return false
                            } else if (elem.peon > data.data.peon) {
                                return true
                            }
                            if (elem.price < data.data.price) {
                                return false
                            } else if (elem.price > data.data.price) {
                                return true
                            }
                            if (elem.statSum < data.data.statSum) {
                                return true
                            } else if (elem.statSum > data.data.statSum) {
                                return false
                            }
                            return true
                        })
                        if (!foundSame) {
                            if (insertIndex == -1) {
                                insertIndex = $scope.result.length
                            }
                            $scope.$apply(function() {
                                $scope.result.splice(insertIndex, 0, data.data)
                                if ($scope.result.length > 100) {
                                    $scope.result = $scope.result.slice(0, 100)
                                }
                            })
                        }
                    } else if (data.type == "end") {
                        $scope.$apply(function() {
                            $scope.searchRunning = false
                        })
                    }
                }
                websocket.onerror = function (e) {
                    $scope.ws = null
                    console.log(e)
                }
                return websocket
            }
            $scope.ws = connectWS()

            $scope.characterName_keydown = function(event) {
                if (event.which == 13) {
                    $scope.searchCharacter()
                }
            }

            $scope.searchCharacter = function() {
                if ($scope.ws == null) {
                    $scope.ws = connectWS()
                }
                $scope.ws.send(JSON.stringify({
                    "type": "character",
                    "data": $scope.context
                }))
            }

            $scope.start = function() {
                if ($scope.context.characterName == "") {
                    return
                }
                if ($scope.ws == null) {
                    $scope.ws = connectWS()
                }
                $scope.logs = []
                $scope.result = []
                $scope.searchRunning = true
                $scope.ws.send(JSON.stringify({
                    "type": "search",
                    "data": $scope.context
                }))
            }
        }
    </script>
</body>
</html>
