<!DOCTYPE html>
<html>
    <head>
        <title>LostArk Auction Finder</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/angular-material.min.css">
    </style>
</head>

<body ng-app="MyApp" ng-controller="MyController" ng-cloak>
    <section layout="column" style="height: 100%; overflow: hidden">
        <md-toolbar md-scroll-shrink>
            <div class="md-toolbar-tools" layout="row">
                <md-input-container flex>
                    <input type="text" ng-model="context.CharacterName" name="characterName" ng-keypress="characterName_keydown($event)">
                </md-input-container>
                <select ng-model="context.Grade" ng-options="x for x in loa.Const.Grades"></select>
                <md-button class="md-raised" ng-click="start()">Start</md-button>
            </div>
        </md-toolbar>
        <md-content layout="column" style="overflow: auto">
            <md-list>
            <md-list-item class="md-1-line" ng-repeat="log in logs" layout="row">
                <span flex>{{ log }}</span>
            </md-list-item>
            </md-list>
            <md-list>
                <md-list-item class="md-1-line" layout="row">
                    <span flex ng-repeat="cell in resultHeader">{{ cell }}</span>
                </md-list-item>
                <md-list-item class="md-1-line" ng-repeat="data in result track by $index" layout="row">
                    <span flex ng-repeat="cell in data track by $index">{{ cell }}</span>
                </md-list-item>
            </md-list>
            </md-content>
    </section>

    <script src="/js/angular.min.js"></script>
	<script src="/js/angular-animate.min.js"></script>
	<script src="/js/angular-aria.min.js"></script>
	<script src="/js/angular-messages.min.js"></script>
	<script src="/js/angular-material.min.js"></script>

    <script>
        var app = angular.module('MyApp', ['ngMaterial']);
        app.controller('MyController', MyController);
        function MyController($scope, $http, $timeout, $mdToast, $mdDialog) {
            $scope.characterName = "sysprolancer"
            $scope.logs = []
            $scope.resultHeader = []
            $scope.result = []
            $scope.loa = {
                'Const': {},
            }
            $scope.context = {}

            $scope.init = function() {
                $http({
                    method: 'GET',
                    url: "/loa/const",
                }).then(function (resp) {
                    $scope.loa.Const = resp.data
                    // $mdToast.show($mdToast.simple().textContent(resp.data).hideDelay(3000))
                }).catch(function () {
                })
                $http({
                    method: 'GET',
                    url: "/context",
                }).then(function (resp) {
                    $scope.context = resp.data
                    // $mdToast.show($mdToast.simple().textContent(resp.data).hideDelay(3000))
                }).catch(function () {
                })
            }
            $scope.init()

            $scope.characterName_keydown = function(event) {
                if (event.which == 13) {
                    $scope.start()
                }
            }

            $scope.start = function() {
                if ($scope.characterName == "") {
                    return
                }

                var websocket = new WebSocket("ws://localhost:5555/start")
                websocket.onopen = function () {
                    console.log('Connected')
                    websocket.send(JSON.stringify($scope.context))
                }
                websocket.onclose = function () {
                    console.log('Closed')
                }
                websocket.onmessage = function (e) {
                    var data = JSON.parse(e.data)
                    if (data.type == "log") {
                        $scope.logs.push(data.data)
                    } else if (data.type == "resultHeader") {
                        $scope.resultHeader = data.data
                        $scope.result = []
                    } else if (data.type == "result") {
                        $scope.result.push(data.data)
                    } else if (data.type == "end") {
                    }
                }
                websocket.onerror = function (e) {
                    console.log(e)
                }
            }
        }
    </script>
</body>
</html>
